.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
